<header class="tm-site-header">
  <div class="row">
    <div class="col-md-10">
      <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">ALAN MARTINEZ</span></h1>
    </div>
    <div class="col-md-2">
      <img src="../assets/img/yaydoo.png">
    </div>
  </div>
</header>

<div class="tm-container">
  <nav class="tm-main-nav">
      <ul id="inline-popups">
          <li class="tm-nav-item">
            <button mat-raised-button data-effect="mfp-move-from-top" class="tm-nav-link" (click)="openModule(0)">Compara Cadenas</button>            
          </li>
          <li class="tm-nav-item">
            <button mat-raised-button data-effect="mfp-move-from-top" class="tm-nav-link" (click)="openModule(1)">Cuenta palabras</button>
          </li>
          <li class="tm-nav-item">
            <button mat-raised-button data-effect="mfp-move-from-top" class="tm-nav-link" (click)="openModule(2)">Preguntas teoricas</button>
          </li>
          <li class="tm-nav-item">
            <button mat-raised-button data-effect="mfp-move-from-top" class="tm-nav-link" (click)="openModule(3)">CRUD Usuarios</button>
          </li>
          <li [hidden]="!cadenas && !palabras && !teorica && !crud" class="tm-nav-item">
            <button mat-raised-button data-effect="mfp-move-from-top" class="tm-nav-link" (click)="openModule(4)">Cerrar</button>
          </li>
      </ul>
  </nav>
</div>

<div *ngIf="cadenas"  class="container-fluid">  
  <div class="row center">
    <app-cadenas></app-cadenas>
  </div>
</div>

<div *ngIf="palabras"  class="container-fluid">  
  <div class="row center">
    <app-palabras></app-palabras>
  </div>
</div>

<div *ngIf="teorica"  class="container-fluid">  
  <div class="row center">
    <app-cadenas></app-cadenas>
  </div>
</div>

<div *ngIf="crud"  class="container-fluid">  
  <div class="row center">
    <app-crud></app-crud>
  </div>
</div>